<div class="text-center mt-5" id="cv">
    <h2 class="title yellow">
        {% trans %}
            cv
        {% endtrans %}
    </h2>
    <h3 class="subtitle-section sub-title-yellow">
        {% trans %}
            cv.subtitle
        {% endtrans %}
    </h3>
    <div class="margin-underline">
        <div class="underline-title line-yellow"></div>
    </div>
</div>

<div class="cv-field">

    <div>
        <div class="first-cv-fields">
            <div class="col-l-12 col-xl-5" data-aos="fade-right">

                <div class="text-center">
                    <i class="far fa-comment-alt yellow-icon icon"></i>
                    <h3 class="mt-3 base-text-yellow">
                        {% trans %}
                            presentation
                        {% endtrans %}
                    </h3>
                </div>

                <p class="m-5 localisation base-text-yellow">
                    {% if age is not null %}
                        <span class="subtitle bolder base-text-yellow">
                            {{ age }} {% trans %}ans{% endtrans %},
                            {% if presentation is not null and app.request.locale == 'fr' %}

                                {{ presentation.liscences }}, {{ presentation.locality }}

                            {% elseif presentation is not null %}

                                {{ presentation.liscencesEn }}, {{ presentation.locality }}
                            {% endif %}
                            .
                        </span>
                    {% endif %}

                    <div class="base-text-yellow">
                        {% if presentation is not null and app.request.locale == 'fr' %}

                            {{ presentation.presentation|raw }}

                        {% elseif presentation is not null %}

                            {{ presentation.presentationEn|raw }}
                        {% endif %}
                    </div>
                </p>
            </div>

            <div class="col-l-12 col-xl-7">

                <div class="text-center">
                    <i class="fas fa-laptop-code yellow-icon icon"></i>
                    <h3 class="mt-3 base-text-yellow">
                        {% trans %}
                            skills
                        {% endtrans %}
                    </h3>
                </div>

                {% for skillReference, skill in skills %}

                    <div class="d-flex justify-content-center rotate-zoom-out">

                        {% for skillItem in skill %}
                            <div class="d-flex flex-column logo-skills mx-3" data-aos="flip-down">
                                <div class="text-center logo-text yellow">
                                    {{ skillItem.title }}
                                </div>
                                <img src="{{ asset('build/images/'~skillItem.image) }}"
                                     class="img-height"
                                     title="Logo {{ skillItem.title }}"
                                     alt="{{ skillItem.altTitle }}"
                                >
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="mt-5">
        <h3 class="base-text-yellow">
            <i class="fas fa-chevron-right yellow-icon"></i>
            {% trans %}
                experiences
            {% endtrans %}
        </h3>

        <div class="timezone">
            {% if app.request.locale == 'fr' %}
                <timeline-zone></timeline-zone>
            {% else %}
                <timeline-en-zone></timeline-en-zone>
            {% endif %}
        </div>
    </div>

    <div>
        <h3 class="base-text-yellow mt-5">
            <i class="fas fa-chevron-right yellow-icon"></i>
            {% trans %}
                more.informations
            {% endtrans %}
        </h3>
        <div class="mb-5">
            <div class="d-flex justify-content-around align-content-center">

                {% for softSkillReference, softSkill in softSkills %}

                    <div class="d-flex flex-column justify-content-around">

                        {% for softSkillItem in softSkill %}
                            <div class="base-text-yellow d-flex flex-column justify-content-center align-items-center"
                                 data-aos="flip-{% if loop.index is odd %}left{% else %}right{% endif %}"
                            >
                                <span class="subicon">
                                    <i class="{{ softSkillItem.icon }} yellow-icon"></i>
                                </span>
                                {% if app.request.locale == 'fr' %}
                                    {{ softSkillItem.title }}
                                {% else %}
                                    {{ softSkillItem.titleEn }}
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}

                {% if langs is not null %}
                    <div class="d-flex flex-column justify-content-around">

                        {% for lang in langs %}
                            <div class="base-text-yellow d-flex flex-column justify-content-center align-items-center"
                                 data-aos="flip-{% if loop.index is odd %}left{% else %}right{% endif %}"
                            >
                                <img class="flag"
                                     src="{{ asset('build/images/'~lang.image) }}"
                                     alt="{{ lang.altTitle }}"
                                     title="{{ lang.title }}"
                                >
                                {% if app.request.locale == 'fr' %}
                                    {{ lang.level }}
                                {% else %}
                                    {{ lang.levelEn }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>