<div class="left-header background-yellow shadow-yellow">
    {% if user is defined and user is not null %}
    <div class="mt-3 yellow-title">
        <h3>
            {{ user.firstname }} {{ user.lastname }}
        </h3>
    </div>
    {% endif %}

    <div class="mt-2 yellow-title">
        {% trans %}job{% endtrans %}
    </div>

    {% if user is defined and user is not null %}
        <div class="mt-3 yellow-title">
            <i class="fas fa-map-marker-alt"></i> {{ user.workAt }}
        </div>
    {% endif %}

    <div class="mt-5">
        <a href="#header"
           class="d-flex justify-content-between yellow-title hover-menu-yellow"
        >
            <span>
                <i class="fas fa-home"></i>
                {% trans %}
                    page.top
                {% endtrans %}
            </span>
            <i class="fas fa-arrow-right display-before-hover"></i>
        </a>
        <hr>
    </div>

    <div>
        <a href="#cv"
           class="d-flex justify-content-between yellow-title hover-menu-yellow"
        >
            <span>
                <i class="fas fa-scroll"></i>
                {% trans %}
                    CV
                {% endtrans %}
            </span>
            <i class="fas fa-arrow-right display-before-hover"></i>
        </a>
        <hr>
    </div>

    <div>
        <a href="#realisations"
           class="d-flex justify-content-between yellow-title hover-menu-yellow"
        >
            <span>
                <i class="fas fa-laptop-code"></i>
                {% trans %}
                    realisations
                {% endtrans %}
            </span>
            <i class="fas fa-arrow-right display-before-hover"></i>
        </a>
        <hr>
    </div>

    <div>
        <a href="#temoignages"
           class="d-flex justify-content-between yellow-title hover-menu-yellow"
        >
            <span>
                <i class="far fa-comment-dots"></i>
                {% trans %}
                    comments
                {% endtrans %}
            </span>
            <i class="fas fa-arrow-right display-before-hover"></i>
        </a>
        <hr>
    </div>

    <div>
        <a href="#contact"
           class="d-flex justify-content-between yellow-title hover-menu-yellow"
        >
            <span>
                <i class="far fa-address-card"></i>
                {% trans %}
                    contact
                {% endtrans %}
            </span>
            <i class="fas fa-arrow-right display-before-hover"></i>
        </a>
        <hr>
    </div>

    <div>
        <a id="download"
           href="{{ path('index_cv') }}"
           class="d-flex justify-content-between yellow-title hover-menu-yellow"
        >
            <span>
                <i class="fas fa-download"></i>
                {% trans %}
                    download.cv
                {% endtrans %}
            </span>
        </a>
        <hr>
    </div>

    <div>
        {% for lang in langs %}
            {% if app.request.locale != lang.locale %}
                <a href="{{ path('index', {'_locale' : lang.locale}) }}"
                   class="yellow-title hover-menu-yellow"
                >
                    <img src="{{ asset('build/images/'~lang.image) }}"
                         alt="{{ lang.altTitle }}"
                    >
                    {{ lang.lang }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>